<table class="w-full">
  <thead>
    <tr class="grid grid-cols-4">
      <th>From</th>
      <th>To</th>
      <th>Date</th>
      <th>Favourite</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows.slice().reverse()" class="grid grid-cols-4">
      <td>
        <p class="text-center">{{row.sourceCurrency}} {{row.sourceValue}}</p>
      </td>
      <td>
        <p class="text-center">{{row.targetCurrency}} {{row.targetValue}}</p>
      </td>
      <td>
        <p class="text-center">{{row.data}}</p>
      </td>
      <td>
        <img *ngIf="row.inHistory" src="../../assets/images/Star.svg" alt="" class="m-auto cursor-pointer" (click)="addToFav(row.id)">
        <img *ngIf="!row.inHistory" src="../../assets/images/Star_fill.svg" alt="" class="m-auto cursor-pointer" (click)="reomveFromFav(row.id,true)">
      </td>
    </tr>
  </tbody>
</table>
